.downloadPage {
  &__wrapper {
    height: 400vh;
  }

  position: fixed;
  overflow: hidden;

  height: 400vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  background-image:  linear-gradient(to bottom, #222436, transparent), linear-gradient(to right, #1F9BF3, transparent), linear-gradient(to left, #C259E7, transparent);
}

