.revealingText {
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__char {
    color: white;
    font-weight: 700;
    line-height: 1;

    text-shadow: #ffffff77 0 0 25px;
  }
}
