.terminal {
  flex: 1;
  border: 10px solid #3D444D;
  background: #222436;
  background: #0d1117;
  border-radius: 20px;
  margin: 0px 120px;
  padding: 35px;
  box-shadow: #00000077 20px 20px 20px;

  * {
    color: white;
    font-weight: 700;
    font-size: 30px;
  }
}
