.miniGitHub__info {
  width: 150px;

  &__desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 5px;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1488px;
    padding: 6px;
    background-color: #121D2F;
  }
}
