.miniGitHub{
  &__explorer {
    display: flex;
    flex-direction: column;

    border: 3px solid #3D444D;
    border-radius: 10px;

    margin-top: 15px;

    overflow: hidden;

    &__lastCommit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      background: #3D444D;

      padding: 10px 5px;

      &__left {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    &__directory {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;

      &:not(:last-child) {
        border-bottom: 3px solid #3D444D;
      }
    }

    &__file {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;

      &__icon {
        height: 10px;
        width: 10px;
        background: transparent;
        border: 1px solid #9198A1;
        border-radius: 50%;
      }

      &:not(:last-child) {
        border-bottom: 3px solid #3D444D;
      }
    }
  }

  &__content {
    &__structure {
      &__files {
        flex: 1;

        display: flex;
        flex-direction: column;

        &__top {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 20px;
        }

        &__forks {
          background-color: #212830;
          border-radius: 5px;
          padding: 7px 5px;
          width: 45px;
        }

        &__search {
          border: 3px solid #3D444D;
          border-radius: 5px;
          padding: 5px;
          width: 70px;
        }

        &__code {
          background: #238636;
          padding: 7px;
          border-radius: 5px;
          margin-left: 15px;
        }
      }
    }
  }
}
