.util {
  &__info {
    &__wrapper {
      position: absolute;

      top: 13vh;
      left: 9vw;
    }

    position: relative;

    width: calc(100vw * 0.194);

    display: flex;
    flex-direction: column;

    overflow: hidden;

    &__title {
      &__wrapper {
        position: relative;

        overflow: hidden;
      }

      position: absolute;

      display: inline-block;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0885);
      line-height: 1;
    }

    &__github {
      &__wrapper {
        position: relative;
        overflow: hidden;

        margin-bottom: calc(100vh * 0.0222);
      }

      position: absolute;

      display: inline-block;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0387);
      line-height: 1;
    }

    &__stars {
      &__wrapper {
        position: relative;
        overflow: hidden;

        margin-bottom: 5px;
      }

      position: absolute;

      display: inline-block;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0277);
      line-height: 1;
    }

    &__forks {
      &__wrapper {
        position: relative;
        overflow: hidden;

        margin-bottom: 5px;
      }

      position: absolute;

      display: inline-block;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0277);
      line-height: 1;
    }

    &__watching {
      &__wrapper {
        position: relative;
        overflow: hidden;

        margin-bottom: 5px;
      }

      position: absolute;

      display: inline-block;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0277);
      line-height: 1;
    }
  }

  &__desc {
    &__wrapper {
      position: absolute;
      overflow: hidden;

      top: 13vh;
      right: 9vw;

      width: 25vw;
    }

    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__title {
      &__wrapper {
        position: relative;
        overflow: hidden;

        height: calc(100vh * 0.0808);

        margin-bottom: 15px;
      }

      position: absolute;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0774); // 35px
      line-height: 1;
    }

    &__content {
      &__wrapper {
        position: relative;
        overflow: hidden;

        height: calc(100vh * 0.04424);
      }

      position: absolute;

      color: white;
      font-weight: 700;
      font-size: calc(100vh * 0.0387);
      line-height: 1;
    }
  }
}

