$imageHeight: 63vh; // 65vh
$imageWidth: 17vw; // 18vw
$imageBottomMargin: 27vh; // 25vh
$imageBorderRadius: 2vw; // 2vw
$imagePadding: 1.5vh;


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes fontSizeIncreasing {
  from {
    font-size: 1px;
  }
  to {
    font-size: 90px;
  }
}


.utils {
  position: relative;
  overflow: hidden;

  height: 100vh;
  width: 100vw;

  background-color: #222436;
  background-color: transparent;


  &::before {
    content: '';
    position: absolute;

    z-index: -1;

    inset: -2em;

    background: #222436;

    filter: blur(20px);

    border: 45px solid transparent;
    border-image: conic-gradient(from var(--angle), #25283b, #25283b,#25283b, #C259E7, #C259E7, #25283b,#25283b, #25283b) 1;

    animation: spin 3s linear infinite;
  }

  &__image {
    &__wrapper {
      position: fixed;

      bottom: 0;
      left: calc(50% - 8.5vw);
      left: 50%;

      min-height: $imageHeight + $imageBottomMargin;
      min-width: $imageWidth;
      height: $imageHeight + $imageBottomMargin;
      width: $imageWidth;

      display: flex;
      flex-direction: column;

      transform-origin: 50% 100%;
    }

    &::before, &::after {
      content: '';
      
      position: absolute;

      height: $imageHeight;
      width: $imageWidth;

      top: 0;
      bottom: 0;

      border-radius: $imageBorderRadius;

      background-image: conic-gradient(from var(--angle), #1F9BF3, #C259E7, #C259E7, #1F9BF3);

      z-index: -1;

      animation: spin 3s linear infinite;
    }

    &::after {
      filter: blur(25px);
    }

    display: flex;
    justify-content: center;
    align-items: center;

    height: $imageHeight;
    border-radius: $imageBorderRadius;
    padding: $imagePadding;

    font-size: 200px;
    font-weight: 700;
    color: white;

    &-img {
      &__wrapper {
        overflow: hidden;

        height: 100%;
        width: 100%;

        border-radius: calc($imageBorderRadius - $imagePadding);
      }

    }
  }

  &__count {
    &__wrapper {
      position: absolute;

      bottom: 3vh;
      left: 50%;
      transform: translateX(-50%) translateY(-15%);
      z-index: 60;

      height: 150px;
      width: 250px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0;
    }

    &-svg {
      overflow: visible;
      filter: url('#filter');

      & path {
        display: none;
      }

      & circle {
        fill: white;
      }
    }

    &__current {
      transform: translateX(30%) translateY(2%) scale(0.5);
    }

    &__total {
      transform: translateX(-30%) translateY(2%) scale(0.5);
    }

    &-separator {
      min-width: 51px;
      min-height: 90px;

      color: white;
      font-weight: 700;

      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
}
