$perspective: 10000px;


.carousel {
  &__wrapper {
    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      z-index: 30;
      width: 100%;
      height: 25%;
    }

    &::before {
      top: 0;
      background-image: linear-gradient(#222436, transparent);
    }

    &::after {
      bottom: 0;
      background-image: linear-gradient(transparent, #222436);
    }
  }

  &__item {
    $height: 35vh;

    width: $height * calc(16/9);
    height: $height;
    display: block;
    top: 30%;
    right: -50%;

    &__blur {
      $height: 36vh;

      width: $height * calc(16/9);
      height: $height;

      filter: blur(25px);
    }
  }
}
