.header {
  &__wrapper {
    position: fixed;

    width: 100vw;
    max-width: 100vw;

    z-index: 100;
  }

  &__underline {
    position: absolute;

    left: 50%;
    top: 0;

    transform: translateX(-50%);

    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: white;

    z-index: 101;
  }

  width: 100vw;
  max-width: 100vw;
  height: 60px;
  height: calc(100vh * 0.0664);

  top: 0%;
  left: 0%;

  background-color: transparent;
  // background-color: rgba(0, 0, 0, 0.61);

  backdrop-filter: blur(10px);
  /*border-bottom: white 1px solid;*/

  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;

  padding: 0px calc(100vw * 0.0267);
}

