$height: calc(100vh * 0.0277);

.header__links {
  &-list {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: center;
    gap: calc(100vw * 0.01);
    height: 100%;
    width: 100%;
  }

  &-logo {
    min-height: $height;
    max-height: $height;
    min-width: $height;
    max-width: $height;
  }

  &-link {
    display: inline-block;

    justify-content: center;
    align-items: center;

    padding: 5px;

    border-radius: 50%;
  }
}
